.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.comment-item {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.comment-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.initial {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #f59e0b;
  height: 40px;
  width: 40px;
  color: #ffffff;
  border-radius: 100px;
  border: none;
}

.comment-details {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.name-time-details {
  display: flex;
  flex-direction: row;
}

.name {
  font-size: 20px;
  font-family: 'Roboto';
  margin-right: 10px;
  color: #000000;
}

.commented-time {
  font-size: 14px;
  font-family: 'Roboto';
  color: #94a3b8;
}

.comment {
  font-size: 18px;
  font-family: 'Roboto';
  color: #64748b;
}

.like-delete-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.separator {
  width: 100%;
  color: #64748b;
}

.liked {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #0284c7;
}

.like {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #94a3b8;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.delete-icon-container {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
